DropArea {
    background-color: transparent;
    color: black;
    border: 2px dashed #aaa;
    border-radius: 5px;
    padding: 10px;
}

QPushButton {
    border: none;
    background: transparent;
}